nav {
  padding: 30px;
  background: $bg;
  .search {
    margin-right: 30px;
  }
  a {
    margin-right: 8%;
    padding:10px;
    text-decoration: none;
    color: #000;
    float: right;
  }
  form {
    label {
      padding: 5px;
    }
    textarea {
      resize: none;
      background: transparent;
    }
  }
}
 div.form {
   padding: 10px;
 }
